<div class="custom-container">
    <!----------------------------------------------
    <div id="recipeCarousel4" class="carousel slide" data-ec-toggle="extended-carousel" data-ec-size="2">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of carousel" [ngClass]="{'active': item.name === 'Anke Bay'}">
                <div>
                    <img src="{{item.img}}" class="img-fluid" width="580" height="320" loading="lazy" alt="">
                    <h4>{{ ('carousel.item' + (carousel.indexOf(item)+1) + '.name') | translate}}</h4>
                    <p>{{ 'carousel.item' + (carousel.indexOf(item)+1) + '.content' | translate}}</p>
                </div>
            </div>


            <a class="carousel-control-prev w-aut" href="#recipeCarousel4" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next w-aut" href="#recipeCarousel4" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
------------------------------------------------------------------------------------------>

    <!-- <div class="container">
        <h1>Use Bootstrap 3's carousel to show multiple items per slide.</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?fremantle,australia" class="img-responsive"></a>
                            </div>

                        </div>
                        <div class="item">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?west-australia" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?perth" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?quokka,perth" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?margaretriver,australia" class="img-responsive"></a>
                            </div>
                        </div>


                        <div class="item">
                            <div class="col-xs-4">
                                <a href="#1"><img src="https://source.unsplash.com/300x300/?perth,australia&r=7" class="img-responsive"></a>
                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="./carousel.component.js"></script> -->

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let item of carousel">
            <div>
                <div class="picsum-img-wrapper">
                    <img [src]="item.img" alt="Random first slide">
                </div>
                <div class="carousel-text">
                    <h4>{{ ('carousel.item' + (carousel.indexOf(item)+1) + '.name') | translate}}</h4>
                    <p>{{ 'carousel.item' + (carousel.indexOf(item)+1) + '.content' | translate}}</p>
                </div>
            </div>
        </ng-template>
        <!--
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template> -->
    </ngb-carousel>

</div>
