<div class="custom-container">


    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let item of carousel">
            <div>
                <div class="picsum-img-wrapper">
                    <img [src]="item.img" alt="Random first slide">
                </div>
                <div class="carousel-text">
                    <h4>{{ ('carousel.item' + (carousel.indexOf(item)+1) + '.name') | translate}}</h4>
                    <p>{{ 'carousel.item' + (carousel.indexOf(item)+1) + '.content' | translate}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>

</div>
