<div class="custom-container">
    <div id="recipeCarousel4" class="carousel slide" data-ec-toggle="extended-carousel" data-ec-size="2">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of carousel" [ngClass]="{'active': item.name === 'Anke Bay'}">
                <div>
                    <img src="{{item.img}}" class="img-fluid" width="580" height="320" loading="lazy" alt="">
                    <h4>{{ ('carousel.item' + (carousel.indexOf(item)+1) + '.name') | translate}}</h4>
                    <p>{{ 'carousel.item' + (carousel.indexOf(item)+1) + '.content' | translate}}</p>
                </div>
            </div>


            <a class="carousel-control-prev w-aut" href="#recipeCarousel4" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next w-aut" href="#recipeCarousel4" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
