.custom-container {
    background-color: #F4EEF6;
    align-content: center;
    height: 750px;
}

.picsum-img-wrapper {
    width: 100%;
    max-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.carousel-text {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
    margin-top: 20px;
}