.footer {
    width: 100%;
    background: #2D0E36 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
}

.footer-item {
    margin: 20px;
    text-align: center;
    font: normal normal 800 20px/27px "Open Sans";
    font-weight: 800;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
