<div class="footer">
    <img src="/assets/images/Logo-weiss.png" id="logo-white">
    <div class="footer-item">
        <span class="footer-item"><a routerLink="/impressum" routerLinkActive="active">IMPRESSUM</a></span>
    </div>
    <div class="footer-item">
        <span class="footer-item"><a routerLink="/datenschutz" routerLinkActive="active">DATENSCHUTZ</a></span>
    </div>
    <div class="footer-item">
        <img src="/assets/images/email-light.png" class="icon">
        <a href="https://de.linkedin.com/">
            <img src="/assets/images/linkedin-light.png" class="icon">
        </a>
    </div>
