<div class="footer">
    <a routerLink="/home" routerLinkActive="active"><img src="/assets/images/Logo-weiss.png" id="logo-white"></a>
    <div class="footer-item">
        <a routerLink="/impressum" routerLinkActive="active"><span class="footer-item">IMPRESSUM</span></a>
    </div>
    <div class="footer-item">
        <a routerLink="/datenschutz" routerLinkActive="active"><span class="footer-item">DATENSCHUTZ</span></a>
    </div>
    <div class="footer-item">
        <a href="mailto:info@bznd.org" target="_blank">
            <img src="/assets/images/email-light.png" class="icon">
        </a>
        <a href="https://www.linkedin.com/company/bznd-zentrum-fuer-neurodiversitaet" target="_blank">
            <img src="/assets/images/linkedin-light.png" class="icon">
        </a>
    </div>