<div>
    <h2>{{'Datenschutz.title' | translate}}</h2>

    <h3>1. {{'Datenschutz.eins' | translate}}</h3>
    <h4>{{'Datenschutz.allgemein' | translate}}</h4>
    <p>{{'Datenschutz.allgemeinText' | translate}}</p>
    <h4>{{'Datenschutz.Datenerfassung' | translate}}</h4>
    <p>{{'Datenschutz.DatenerfassungText' | translate}}</p>
    <h4>{{'Datenschutz.erfassen' | translate}}</h4>
    <p>{{'Datenschutz.erfassenText' | translate}}</p>
    <h4>{{'Datenschutz.Datennutzung' | translate}}</h4>
    <p>{{'Datenschutz.DatennutzungText' | translate}}</p>
    <h4>{{'Datenschutz.Rechte' | translate}}</h4>
    <p>{{'Datenschutz.RechteText' | translate}}</p>

    <h3>2. {{'Datenschutz.zwei' | translate}}</h3>

    <h4>{{'Datenschutz.Datenschutz' | translate}}</h4>
    <p>{{'Datenschutz.DatenschutzText' | translate}}</p>
    <h4>{{'Datenschutz.Hinweis' | translate}}</h4>
    <p>{{'Datenschutz.HinweisText' | translate}}</p>
    <h4>{{'Datenschutz.Speicherdauer' | translate}}</h4>
    <p>{{'Datenschutz.SpeicherdauerText' | translate}}</p>
    <h4>{{'Datenschutz.Widerruf' | translate}}</h4>
    <p>{{'Datenschutz.WiderrufText' | translate}}</p>
    <h4>{{'Datenschutz.Widerspruchsrecht' | translate}}</h4>
    <p>{{'Datenschutz.WiderspruchsrechtText' | translate}}</p>
    <h4>{{'Datenschutz.Beschwerderecht' | translate}}</h4>
    <p>{{'Datenschutz.BeschwerderechtText' | translate}}</p>
    <h4>{{'Datenschutz.Datenübertragbarkeit' | translate}}</h4>
    <p>{{'Datenschutz.DatenübertragbarkeitText' | translate}}</p>
    <h4>{{'Datenschutz.Auskunft' | translate}}</h4>
    <p>{{'Datenschutz.AuskunftText' | translate}}</p>
    <h4>{{'Datenschutz.Einschraenkung' | translate}}</h4>
    <p>{{'Datenschutz.EinschraenkungText' | translate}}</p>
</div>
