<div>

    <h2>{{'Datenschutz.eins' | translate}}</h2>

    <p><b>{{'Datenschutz.allgemein' | translate}}</b><br>{{'Datenschutz.allgemeinText' | translate}}</p>

    <p><b>{{'Datenschutz.Datenerfassung' | translate}}</b><br>{{'Datenschutz.DatenerfassungText' | translate}}</p>

    <p><b>{{'Datenschutz.erfassen' | translate}}</b><br>{{'Datenschutz.erfassenText' | translate}}</p>

    <p><b>{{'Datenschutz.Datennutzung' | translate}}</b><br>{{'Datenschutz.DatennutzungText' | translate}}</p>

    <p><b>{{'Datenschutz.Rechte' | translate}}</b><br>{{'Datenschutz.RechteText' | translate}}</p>

    <p><b>{{'Datenschutz.allgemein' | translate}}</b><br>{{'Datenschutz.allgemeinText' | translate}}</p>

    <h2>{{'Datenschutz.zwei' | translate}}</h2>

    <p><b>{{'Datenschutz.Datenschutz' | translate}}</b><br>{{'Datenschutz.DatenschutzText' | translate}}</p>

    <p><b>{{'Datenschutz.Hinweis' | translate}}</b><br>{{'Datenschutz.HinweisTextVorMail' | translate}}
        <a href="mailto:info@bznd.org">{{'Datenschutz.HinweisTextMail' | translate}}</a>{{'Datenschutz.HinweisTextNachMail' | translate}}</p>

    <p><b>{{'Datenschutz.Speicherdauer' | translate}}</b><br>{{'Datenschutz.SpeicherdauerText' | translate}}</p>

    <p><b>{{'Datenschutz.Widerruf' | translate}}</b><br>{{'Datenschutz.WiderrufText' | translate}}</p>

    <p><b>{{'Datenschutz.Widerspruchsrecht' | translate}}</b><br>{{'Datenschutz.WiderspruchsrechtText' | translate}}</p>

    <p><b>{{'Datenschutz.Beschwerderecht' | translate}}</b><br>{{'Datenschutz.BeschwerderechtText' | translate}}</p>

    <p><b>{{'Datenschutz.Datenübertragbarkeit' | translate}}</b><br>{{'Datenschutz.DatenübertragbarkeitText' | translate}}</p>

    <p><b>{{'Datenschutz.Auskunft' | translate}}</b><br>{{'Datenschutz.AuskunftText' | translate}}</p>

    <p><b>{{'Datenschutz.Einschraenkung' | translate}}</b><br>{{'Datenschutz.EinschraenkungText' | translate}}</p>

</div>
