div {
    padding-right: 12%;
    padding-left: 12%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    background-color: #eae6eb;
    padding-top: 5%;
    padding-bottom: 5%;
}

h4 {
    margin-top: 2%;
}

h3 {
    text-align: left !important;
    color: black !important;
    margin-top: 2%;
}
