<div id="landing-image">
    <span>
      <h3>{{ 'Wilkommen.secondary-title' | translate}}</h3>
      <h1>{{ 'Wilkommen.title' | translate}}</h1>
  </span>
</div>
<app-image-left [imgPosition]="'none'" [color]="'#F4EEF6'" [content]="'Neurodiversität'"></app-image-left>
<app-image-left [img]="'/assets/images/Gehirn2PNG.png'" [imgPosition]="'left'" [color]="'#FFFFFF'" [content]="'Tun'"></app-image-left>
<app-info-box [boxContent]="boxContentArray"></app-info-box>
<app-carousel class="carousel"></app-carousel>
<app-image-left [img]="'/assets/images/umberto-FewHpO4VC9Y-unsplash.jpg'" [imgPosition]="'right'" [color]="'#FFFFFF'" [content]="'Forschung'"></app-image-left>
