<div class="menu-bar">
    <div>
        <div>
            <mat-icon aria-hidden="false" aria-label="person add" class="menu-icon">person_add_alt</mat-icon>
            <div>Mietglied werden</div>
        </div>
        <div>
            <mat-icon aria-hidden="false" aria-label="donate" class="menu-icon">volunteer_activism</mat-icon>
            <div>Spenden</div>
        </div>
    </div>
    <div>
        <div>
            <mat-icon aria-hidden="false" aria-label="easy language" class="menu-icon">local_library</mat-icon>
            <div>Leichte Sprache</div>
        </div>
        <div>
            <mat-icon aria-hidden="false" aria-label="read" class="menu-icon">volume_up</mat-icon>
            <div>Vorlesen</div>
        </div>
    </div>
</div>