<div>
    <h2>{{'Impressum.title' | translate}}</h2>
    <h4>{{'Impressum.Name' | translate}}</h4>
    <p>Bundeszentrum für Neurodiversität (Vorverein, in Bälde e.V.)</p>
    <h4>{{'Impressum.Kontakt' | translate}}</h4>
    <p>Schwarzfeldstraße 49<br> 73434 Aalen<br> Deutschland
        <br> Telefon: +49 711 96 88 19 45<br> E-Mail: info@bznd.org
    </p>
    <h4>{{'Impressum.Vertretungsberechtigt' | translate}}</h4>
    <p>Dr. rer. nat. Judith Rommel (1. Vorstand)<br> Pia Beyer-Wunsch (2. Vorstand)<br> Prof. Dr.-Ing. Manfred Bartel (Schatzmeister)</p>
    <h4>{{'Impressum.Registergericht' | translate}}</h4>
    <p>folgt wenn Gründung abgeschlossen ist.</p>
    <h4>{{'Impressum.Vereinsregisternummer' | translate}}</h4>
    <p>folgt wenn Gründung abgeschlossen ist.</p>
    <h4>{{'Impressum.Haftungsausschluss' | translate}}</h4>
    <p>{{'Impressum.HaftungsausschlussText' | translate}}</p>
    <h4>{{'Impressum.Inhalte' | translate}}</h4>
    <p>{{'Impressum.InhalteText' | translate}}</p>
    <h4>{{'Impressum.Links' | translate}}</h4>
    <p>{{'Impressum.LinksText' | translate}}</p>
    <h4>{{'Impressum.Urheberrecht' | translate}}</h4>
    <p>{{'Impressum.UrheberrechtText' | translate}}</p>
</div>
