<div>
    <h2>{{'Impressum.title' | translate}}</h2>
    <h4>{{'Impressum.Name' | translate}}</h4>
    <p>{{'Impressum.BZND' | translate}}</p>
    <h4>{{'Impressum.Kontakt' | translate}}</h4>
    <p>{{'Impressum.Kontaktdaten' | translate}}</p>
    <p><a href="mailto:info@bznd.org">{{'Impressum.EMail' | translate}}</a></p>
    <h4>{{'Impressum.Vertretungsberechtigt' | translate}}</h4>
    <p>{{'Impressum.VertretungsberechtigtPersonen' | translate}}</p>
    <h4>{{'Impressum.Registergericht' | translate}}</h4>
    <p>{{'Impressum.RegistergerichtOrt' | translate}}</p>
    <h4>{{'Impressum.Vereinsregister' | translate}}</h4>
    <p>{{'Impressum.VereinsregisterNummer' | translate}}</p>
    <h4>{{'Impressum.Haftungsausschluss' | translate}}</h4>
    <p><b>{{'Impressum.HaftungsausschlussInhalte' | translate}}</b></p>
    <p>{{'Impressum.HaftungsausschlussInhalteText' | translate}}</p>
    <p><b>{{'Impressum.HaftungsausschlussLinks' | translate}}</b></p>
    <p>{{'Impressum.HaftungsausschlussLinksText' | translate}}</p>
    <p><b>{{'Impressum.HaftungsausschlussUrheber' | translate}}</b></p>
    <p>{{'Impressum.HaftungsausschlussUrheberText' | translate}}</p>
    <p>{{'Impressum.AbschlussVorMail' | translate}} <a href="http://ec.europa.eu/consumers/odr/">{{'Impressum.AbschlussMail' | translate}}</a> {{'Impressum.AbschlussNachMail' | translate}}</p>
</div>
