<div class="content-container">
    <app-menu-bar></app-menu-bar>
    <app-sub-menu-bar></app-sub-menu-bar>
    <div class="first-section">
        <img src="/assets/images/shahadat-rahman-voM1Z9cGPCU-unsplash.jpg" class="homepage-image">
        <div class="first-section-text">
            <h3>
                Herzlich Wilkommen beim
            </h3>
            <h1>
                BUNDESZENTRUM FÜR NEURODIVERSITÄT
            </h1>
        </div>
    </div>
    <div class="second-section">
        <div class="second-section-first align-left background-gray">
            <h4 class="section-header">Sichtbarkeit. Gesundheit. Lebendigkeit. Wissenschaft.</h4>
            <h2 class="section-title">NEURODIVERSITÄT</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="second-section-second background-white">
            <div>
                <img src="/assets/images/fakurian-design-58Z17lnVS4U-unsplash.jpg" class="left-image">
            </div>
            <div class="text-right">
                <h4 class="section-header">Sichtbarkeit. Gesundheit. Lebendigkeit. Wissenschaft.</h4>
                <h2 class="section-title">WAS WIR TUN</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
    </div>
    <div class="third-section align-left background-gray">
        <h4 class="section-header">Sichtbarkeit. Gesundheit. Lebendigkeit. Wissenschaft.</h4>
        <h2 class="section-title">WAS WIR TUN</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>
    <div class="fourth-section">
        <div class="fourth-section-first align-left background-white">
            <h4 class="section-header">Sichtbarkeit. Gesundheit. Lebendigkeit. Wissenschaft.</h4>
            <h2 class="section-title">NEURODIVERSITÄT</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="fourth-section-second background-gray">

        </div>
    </div>
</div>
