.content-container {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    max-height: 100%;
    float: left;
}

.first-section {
    position: relative;
    z-index: 1;
}

.third-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section-text {
    position: absolute;
    right: 13%;
    top: 27%;
    color: white;
    text-align: right;
}

.homepage-image {
    height: 100%;
    width: 100%;
}

.align-left {
    padding-left: 14%;
}

.background-white {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.background-gray {
    background: #eae7eb 0% 0% no-repeat padding-box;
    opacity: 1;
}

.second-section {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

.second-section-first {
    min-height: 50vh;
    left: 0;
}

.second-section-second {
    min-height: 50vh;
    left: 0;
    display: flex;
}

.text-right {
    margin-right: 13%;
    display: flex;
    text-align: right;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-tile {
    font: normal normal bold 50px/68px Open Sans;
    letter-spacing: 0px;
    color: #2D0E36;
    opacity: 1 !important;
}

.section-header {
    font: normal normal normal 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #A75E6A;
    opacity: 1 !important;
}

.second-section-first {
    padding-left: 14%;
    padding-right: 14%;
}

.split-in-half {
    width: 50%;
}

p {
    width: 100%;
    margin: 0;
}

.left-image {
    left: 0;
    top: 0;
    width: 100%;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}
