    .flex-container {
        display: flex;
    }

    .flex-item {
        flex: 1;
        margin: 0;
    }

    img {
        min-width: 50%;
        max-height: 50vh;
    }

    @media only screen and (max-device-width: 1200px) {
        div {
            width: 100%;
        }
        .flex-container {
            display: flex;
            flex-direction: column;
        }
        .flex-item,
        img {
            max-width: 100%;
            margin: 0;
        }
        p {
            max-width: 90%;
        }
    }
