.left-text {
    padding-top: 20px;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

#member-card {
    border: 2px solid #F4EEF6;
    max-width: 20%;
    font-size: 15px !important;
    margin: 20px;
    flex: 1 0 21% !important;
    >img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    >div {
        margin-top: 20px;
        min-height: 40%;
        text-align: left;
        margin: 10px;
        >span {
            font-weight: bold;
        }
    }
}
