<div>
    <span class="center-text">
      <h4>{{ (content + '.secondary-title') | translate}}</h4>
      <h2>{{ (content + '.title') | translate}}</h2>
      <p>{{ (content + '.content') | translate}}</p>
    </span>
    <div id="box-content">
        <div *ngFor="let content of boxContent">
            <img src='{{content[0]}}'>
            <div>
                <h4>{{ (content[1] + '.title') | translate }}</h4>
                <p>{{ (content[1] + '.content') | translate }}</p>
            </div>
        </div>
    </div>

</div>
