<div class="menu-bar">
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="person add" class="menu-icon read-aloud">person_add_alt</mat-icon>
        <div><a (click)="goToLink('https://www.vereinonline.org/BZND/?action=members_mitgliedsantrag')" href="">Mitglied werden</a></div>
    </div>
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="donate" class="menu-icon">volunteer_activism</mat-icon>
        <div><a (click)="goToLink('https://www.vereinonline.org/BZND/?spenden')" href="">Spenden</a></div>
    </div>
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="easy language" class="menu-icon">local_library</mat-icon>
        <button (click)="trans('ls')"><span [hidden]="ls">Leichte Sprache</span><span [hidden]="!ls">Leichte Sprache ausschalten</span></button>
    </div>
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="easy language" class="menu-icon">local_library</mat-icon>
        <button (click)="trans('en')"><span [hidden]="en">English</span><span [hidden]="!en">Deutsch</span></button>
    </div>

</div>