<div class="menu-bar">
    <div>
        <div class="menu-item" (click)="openDialog()">
            <mat-icon aria-hidden="false" aria-label="person add" class="menu-icon">person_add_alt</mat-icon>
            <div>Mitglied werden</div>
        </div>
        <div>
            <mat-icon aria-hidden="false" aria-label="donate" class="menu-icon">volunteer_activism</mat-icon>
            <div><a href="https://www.vereinonline.org/BZND/?action=members_mitgliedsantrag" target="_blank">Spenden</a></div>
        </div>
    </div>
    <div>
        <div (click)="changeVisibility()">
            <mat-icon aria-hidden="false" aria-label="easy language" class="menu-icon">local_library</mat-icon>
            <div>Leichte Sprache</div>
        </div>
        <div>
            <mat-icon aria-hidden="false" aria-label="read" class="menu-icon">volume_up</mat-icon>
            <div>Vorlesen</div>
        </div>
    </div>
</div>
<iframe id="inlineFrameExample" title="Inline Frame Example" width="100%" height="500px" src="https://www.vereinonline.org/BZND/?action=members_mitgliedsantrag" [hidden]="hideIFrame">
