.menu-bar {
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    background: #0B0114 0% 0% no-repeat;
    opacity: 1;
    color: white;
    display: flex;
    flex-direction: row;
    position: sticky;
    font-family: "Open Sans" !important;
    >div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        >div {
            margin: 25px;
            display: flex;
            align-items: center;
        }
    }
}

.menu-icon {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-device-width: 700px) {
    .menu-bar {
        flex-direction: column;
    }
}