.menu-bar {
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    background: #0B0114 0% 0% no-repeat;
    opacity: 1;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: sticky;
    font-family: "Open Sans" !important;
    z-index: 5;
    >div {
        margin: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.menu-icon {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-device-width: 700px) {
    .menu-bar {
        flex-direction: column;
    }
}
