<div class="menu-bar">
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="person add" class="menu-icon read-aloud">person_add_alt</mat-icon>
        <div><a routerLink="/mitgliedantrag" routerLinkActive="false">Mitglied werden</a></div>
    </div>
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="donate" class="menu-icon">volunteer_activism</mat-icon>
        <div><a (click)="goToLink('https://www.vereinonline.org/BZND/?spenden')" href="">Spenden</a></div>
    </div>
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="easy language" class="menu-icon">local_library</mat-icon>
        <div>Leichte Sprache</div>
    </div>
    <div class="menu-item">
        <mat-icon aria-hidden="false" aria-label="read" class="menu-icon">volume_up</mat-icon>
        <div onclick="readAloud(document.getElementById('ra-audio'), document.getElementById('ra-player'))">Vorlesen</div>
    </div>

</div>
